body{
    background-color: aquamarine;
}

main{
    text-align: center;
}

#num{
    font-family: fantasy; 
    font-size: 80px;
    align-content: center;
    margin: 80px auto;
}

#sub{
    text-align:center;
    color:cadetblue;
    font-size: 16px;
    font-family: monospace;
    font-weight: bolder;
    margin: 30px auto;
    background-color: azure;
    padding: 8px 20px;
    outline: none;
    border-color: white;  
    transition: padding 0.3s,color 0.5s, box-shadow 0.5s, ease-out 1s;
    cursor: pointer;
}

#sub:hover{ 
    padding: 10px 25px;
    color: darkturquoise;
    background-color: ghostwhite;
    box-shadow: 10px 10px 10px gray;
}

#sub:active{
    box-shadow: 20px 20px 20px aquamarine;
    transition: box-shadow 0.3s;
    color: cadetblue;